In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats as stats

#from sklearn.linear_model import LogisticRegression
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.tree import DecisionTreeClassifier

#from sklearn.metrics import precision_score, recall_score
#from sklearn.model_selection import train_test_split, GridSearchCV,\
#cross_val_score, RandomizedSearchCV

#from sklearn.preprocessing import OneHotEncoder, StandardScaler
#from sklearn.impute import SimpleImputer
#from sklearn.pipeline import Pipeline
#from sklearn.compose import ColumnTransformer

In [2]:
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [10]:
def plan_to_num(plan):
    if plan == "yes":
        return 1
    elif plan == "no":
        return 0
    return plan

In [15]:
df['international plan'] = df['international plan'].apply(plan_to_num)
df['voice mail plan'] = df['voice mail plan'].apply(plan_to_num)

In [16]:
X = df.drop(['churn'], axis=1)
y = df['churn']

In [17]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   int64
 5   voice mail plan         3333 non-null   int64
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
dtypes: float64(8), int64(10), object(2)
memory usage: 520.9+ KB

In [18]:
X.drop(['state'], axis=1, inplace=True)
X = pd.concat([pd.get_dummies(df['state']), X], axis=1)

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 70 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   AK                      3333 non-null   uint8
 1   AL                      3333 non-null   uint8
 2   AR                      3333 non-null   uint8
 3   AZ                      3333 non-null   uint8
 4   CA                      3333 non-null   uint8
 5   CO                      3333 non-null   uint8
 6   CT                      3333 non-null   uint8
 7   DC                      3333 non-null   uint8
 8   DE                      3333 non-null   uint8
 9   FL                      3333 non-null   uint8
 10  GA                      3333 non-null   uint8
 11  HI                      3333 non-null   uint8
 12  IA                      3333 non-null   uint8
 13  ID                      3333 non-null   uint8
 14  IL                      3333 non-null   uint8
 15  IN                      3333 non-null   uint8
 16  KS                      3333 non-null   uint8
 17  KY                      3333 non-null   uint8
 18  LA                      3333 non-null   uint8
 19  MA                      3333 non-null   uint8
 20  MD                      3333 non-null   uint8
 21  ME                      3333 non-null   uint8
 22  MI                      3333 non-null   uint8
 23  MN                      3333 non-null   uint8
 24  MO                      3333 non-null   uint8
 25  MS                      3333 non-null   uint8
 26  MT                      3333 non-null   uint8
 27  NC                      3333 non-null   uint8
 28  ND                      3333 non-null   uint8
 29  NE                      3333 non-null   uint8
 30  NH                      3333 non-null   uint8
 31  NJ                      3333 non-null   uint8
 32  NM                      3333 non-null   uint8
 33  NV                      3333 non-null   uint8
 34  NY                      3333 non-null   uint8
 35  OH                      3333 non-null   uint8
 36  OK                      3333 non-null   uint8
 37  OR                      3333 non-null   uint8
 38  PA                      3333 non-null   uint8
 39  RI                      3333 non-null   uint8
 40  SC                      3333 non-null   uint8
 41  SD                      3333 non-null   uint8
 42  TN                      3333 non-null   uint8
 43  TX                      3333 non-null   uint8
 44  UT                      3333 non-null   uint8
 45  VA                      3333 non-null   uint8
 46  VT                      3333 non-null   uint8
 47  WA                      3333 non-null   uint8
 48  WI                      3333 non-null   uint8
 49  WV                      3333 non-null   uint8
 50  WY                      3333 non-null   uint8
 51  account length          3333 non-null   int64
 52  area code               3333 non-null   int64
 53  phone number            3333 non-null   object
 54  international plan      3333 non-null   int64
 55  voice mail plan         3333 non-null   int64
 56  number vmail messages   3333 non-null   int64
 57  total day minutes       3333 non-null   float64
 58  total day calls         3333 non-null   int64
 59  total day charge        3333 non-null   float64
 60  total eve minutes       3333 non-null   float64
 61  total eve calls         3333 non-null   int64
 62  total eve charge        3333 non-null   float64
 63  total night minutes     3333 non-null   float64
 64  total night calls       3333 non-null   int64
 65  total night charge      3333 non-null   float64
 66  total intl minutes      3333 non-null   float64
 67  total intl calls        3333 non-null   int64
 68  total intl charge       3333 non-null   float64
 69  customer service calls  3333 non-null   int64
dtypes: float64(8), int64(10), object(1), uint8(51)
memory usage: 660.9+ KB