In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy import stats as stats

In [2]:
df = pd.read_csv('bigml_59c28831336c6604c800002a.csv')
df.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   object
 5   voice mail plan         3333 non-null   object
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
 20  churn                   3333 non-null   bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.2+ KB

In [4]:
def plan_to_num(plan):
    if plan == "yes":
        return 1
    elif plan == "no":
        return 0
    return plan

In [5]:
df['international plan'] = df['international plan'].apply(plan_to_num)
df['voice mail plan'] = df['voice mail plan'].apply(plan_to_num)

In [6]:
X = df.drop(['churn'], axis=1)
y = df['churn']

In [7]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state                   3333 non-null   object
 1   account length          3333 non-null   int64
 2   area code               3333 non-null   int64
 3   phone number            3333 non-null   object
 4   international plan      3333 non-null   int64
 5   voice mail plan         3333 non-null   int64
 6   number vmail messages   3333 non-null   int64
 7   total day minutes       3333 non-null   float64
 8   total day calls         3333 non-null   int64
 9   total day charge        3333 non-null   float64
 10  total eve minutes       3333 non-null   float64
 11  total eve calls         3333 non-null   int64
 12  total eve charge        3333 non-null   float64
 13  total night minutes     3333 non-null   float64
 14  total night calls       3333 non-null   int64
 15  total night charge      3333 non-null   float64
 16  total intl minutes      3333 non-null   float64
 17  total intl calls        3333 non-null   int64
 18  total intl charge       3333 non-null   float64
 19  customer service calls  3333 non-null   int64
dtypes: float64(8), int64(10), object(2)
memory usage: 520.9+ KB

In [8]:
X.drop(['state'], axis=1, inplace=True)
X.drop(['phone number'], axis=1, inplace=True)
X = pd.concat([pd.get_dummies(df['state']), X], axis=1)

In [9]:
from sklearn.metrics import precision_score, recall_score
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score, RandomizedSearchCV

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [12]:
dt_clf = DecisionTreeClassifier()
dt_cv_score = cross_val_score(dt_clf, X_train, y_train, cv=3)
mean_dt_cv_score = dt_cv_score.mean()

print(f"Mean Cross Validation Score: {mean_dt_cv_score :.2%}")

Mean Cross Validation Score: 90.96%

In [13]:
dt_param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 2, 3, 4, 5, 6],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 3, 4, 5, 6]
}

In [14]:
dt_grid_search = GridSearchCV(dt_clf, dt_param_grid, cv=5)

# Fit to the data
dt_grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 2, 3, 4, 5, 6],
                         'min_samples_leaf': [1, 2, 3, 4, 5, 6],
                         'min_samples_split': [2, 5, 10]})

In [15]:
dt_gs_testing_score = dt_grid_search.score(X_test, y_test)

print(f"Mean Test Score: {dt_gs_testing_score :.2%}")
print("Best Parameter Combination Found During Grid Search:")
dt_grid_search.best_params_

Mean Test Score: 94.72%
Best Parameter Combination Found During Grid Search:

{'criterion': 'entropy',
 'max_depth': 6,
 'min_samples_leaf': 6,
 'min_samples_split': 5}

In [16]:
rf_clf = RandomForestClassifier()
mean_rf_cv_score = np.mean(cross_val_score(rf_clf, X_train, y_train, cv=5))

print(f"Mean Cross Validation Score for Random Forest Classifier: {mean_rf_cv_score :.2%}")

Mean Cross Validation Score for Random Forest Classifier: 92.76%

In [17]:
rf_param_grid = {'bootstrap': [True, False],
                 'max_depth': [10, 30, 50, 70, 90, None],
                 'min_samples_leaf': [1, 2, 4],
                 'min_samples_split': [2, 5, 10],
}

In [18]:
rf_grid_search = GridSearchCV(rf_clf, rf_param_grid, cv=3)
rf_grid_search.fit(X_train, y_train)

print(f"Testing Accuracy: {rf_grid_search.best_score_ :.2%}")
print("")
print(f"Optimal Parameters: {rf_grid_search.best_params_}")

Testing Accuracy: 94.16%

Optimal Parameters: {'bootstrap': False, 'max_depth': 90, 'min_samples_leaf': 1, 'min_samples_split': 5}

In [19]:
dt_score = dt_grid_search.score(X_test, y_test)
rf_score = rf_grid_search.score(X_test, y_test)

print('Decision tree grid search: ', dt_score)
print('Random forest grid search: ', rf_score)

Decision tree grid search:  0.947242206235012
Random forest grid search:  0.947242206235012

In [20]:
rf_fi = rf_grid_search.best_estimator_.feature_importances_
dt_fi = dt_grid_search.best_estimator_.feature_importances_

In [21]:
rf_dict = dict(zip(X.columns, rf_fi))
df_dict = dict(zip(X.columns, dt_fi))
joined = {}
for key in X.columns:
    joined[key] = [rf_dict[key], df_dict[key]]

In [22]:
j = pd.DataFrame.from_dict(joined).transpose()
j.columns = ["Random Forest", "Decision Tree"]
pd.set_option('display.max_rows', None)
j

                        Random Forest  Decision Tree
AK                           0.000166       0.000000
AL                           0.000911       0.000000
AR                           0.001811       0.000000
AZ                           0.001658       0.000000
CA                           0.001791       0.000000
CO                           0.000984       0.000000
CT                           0.000506       0.000000
DC                           0.001319       0.000000
DE                           0.001048       0.000000
FL                           0.000720       0.000000
GA                           0.000995       0.000000
HI                           0.000395       0.000000
IA                           0.001118       0.000000
ID                           0.001952       0.000000
IL                           0.001751       0.000000
IN                           0.000839       0.000000
KS                           0.001757       0.000000
KY                           0.000537       0.000000
LA                           0.001706       0.000000
MA                           0.001832       0.000000
MD                           0.002024       0.000000
ME                           0.002505       0.000000
MI                           0.002474       0.000000
MN                           0.001374       0.000000
MO                           0.001265       0.000000
MS                           0.003049       0.000000
MT                           0.002301       0.000000
NC                           0.001933       0.000000
ND                           0.001776       0.000000
NE                           0.001422       0.000000
NH                           0.000954       0.000000
NJ                           0.004137       0.000000
NM                           0.001496       0.000000
NV                           0.002214       0.000000
NY                           0.001536       0.000000
OH                           0.001897       0.000000
OK                           0.000651       0.000000
OR                           0.001237       0.000000
PA                           0.001402       0.000000
RI                           0.001485       0.000000
SC                           0.002671       0.000000
SD                           0.001456       0.000000
TN                           0.000729       0.000000
TX                           0.002624       0.000000
UT                           0.001644       0.000000
VA                           0.001376       0.000000
VT                           0.001320       0.000000
WA                           0.000994       0.000000
WI                           0.001312       0.000000
WV                           0.001097       0.000000
WY                           0.001586       0.000000
account length               0.023530       0.000000
area code                    0.006532       0.000000
international plan           0.079157       0.145918
voice mail plan              0.018405       0.058809
number vmail messages        0.026936       0.000000
total day minutes            0.146999       0.077763
total day calls              0.028560       0.008642
total day charge             0.140690       0.213241
total eve minutes            0.055431       0.131307
total eve calls              0.020801       0.004746
total eve charge             0.049629       0.000000
total night minutes          0.029554       0.024535
total night calls            0.024089       0.003734
total night charge           0.031473       0.002643
total intl minutes           0.033375       0.000000
total intl calls             0.044489       0.087922
total intl charge            0.039277       0.090934
customer service calls       0.123334       0.149806